<%= form_for([@page, @section]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id='bg'> 
  <label for='bgcolor'>Select the background color for this page:</label> <input type='color' value='#ff0000' id='bgcolor' name='bgcolor' oninput='changeBackground(bgcolor.value)'>
</div>
  <% @page.sections.each do |section| %>
    <%= raw (section.body) %>
  <% end %>
  <%= f.hidden_field :body %>
  <%#= render 'layout1' %>
  <%= f.file_field :image %>
  <div class="padding-left">
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  </div>
<% end %>
