<%= form_for([@page, @section]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id='bg'> 
  <label for='bgcolor'>Select the background color for this page:</label> <input type='color' value='#ffffff' id='bgcolor' name='bgcolor' oninput='changeBackground(bgcolor.value)'>
</div>
  <% @page.sections.each do |section| %>
    <%= raw (section.body) %>
    <%#= section.images.new, url: section_images_path, :html => { :multipart => true }  do |form| %>
      <%#= form.file_field :file  %>
    <%#end %>
    <%= form_for ([section, @image]), :url => section_images_path, :html => { multipart: true } do |form| %>
      <%= form.file_field :file %>
    <% end %>
  <% end %>

  <%= f.hidden_field :body %>
  <%#= render 'layout1' %>

  <div class="padding-left">
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  </div>
<% end %>
