<!DOCTYPE html>
<html lang="en">
  <head>
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/welcome/index">My Site</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

  </head>
  <% if user_signed_in? %>
    <h4 class="subheader"><small><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></small></h4>  
  <%end%>
  <body id="find-me" style="background-color:<%= @page.bgcolor if @page %>">

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>

  